<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hojjat.autobahntest">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />


    <!--change following using your app package name-->
    <permission android:protectionLevel="signature"
        android:name="com.hojjat.autobahntest.permission.PUSH_SERVICE" />
    <uses-permission android:name="com.hojjat.autobahntest.permission.PUSH_SERVICE" />

    <application
        android:name=".app.ApplicationConfig"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".app.ActivityMain"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".befrest.PushService" />
        <service android:name=".befrest.TestService" />

        <receiver
            android:name=".app.MyBroadcastReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.oddrun.befrest.broadcasts.PUSH_RECEIVED" />
            </intent-filter>
        </receiver>
    </application>
</manifest>